@font-face {
  font-family: 'texgyreadventorregular';
  src: url("https://dl.dropboxusercontent.com/s/bbvbtalw7t3tuhf/texgyreadventor-regular-webfont.woff2") format("woff2"), url("https://dl.dropboxusercontent.com/s/1cufjbgksay935n/texgyreadventor-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
* {
  background: black;
  /*  border: 1px solid white;*/
  box-sizing: border-box; }

::-webkit-scrollbar {
  display: none; }

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0; }

.main {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  margin: 0 auto; }

.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  margin-top: -100px; }

img.logo {
  height: 10em; }

.character-menu {
  height: 200px;
  width: 200px;
  background-color: transparent;
  left: calc(50% - 100px);
  position: absolute;
  top: 250px;
  -webkit-transition: all 1000ms ease-out;
          transition: all 1000ms ease-out; }

.center {
  left: calc(50% - 100px);
  top: 250px; }

.closeRightHoriz {
  left: calc((33.3%)*2 - 100px);
  -webkit-transition: all 1000ms ease-out;
          transition: all 1000ms ease-out; }

.closeLeftHoriz {
  left: calc(33.3% - 100px);
  -webkit-transition: all 1000ms ease-out;
          transition: all 1000ms ease-out; }

.farRightHoriz {
  left: calc((16.7%)*5 - 100px);
  -webkit-transition: all 1000ms ease-out;
          transition: all 1000ms ease-out; }

.farLeftHoriz {
  left: calc(16.7% - 100px);
  -webkit-transition: all 1000ms ease-out;
          transition: all 1000ms ease-out; }

.closeRightVert {
  left: calc(50% - 100px);
  top: 550px;
  -webkit-transition: all 1000ms ease-out;
          transition: all 1000ms ease-out; }

.closeLeftVert {
  left: calc(50% - 100px);
  top: 850px;
  -webkit-transition: all 1000ms ease-out;
          transition: all 1000ms ease-out; }

.farRightVert {
  left: calc(50% - 100px);
  top: 1150px;
  -webkit-transition: all 1000ms ease-out;
          transition: all 1000ms ease-out; }

.farLeftVert {
  left: calc(50% - 100px);
  top: 1450px;
  -webkit-transition: all 1000ms ease-out;
          transition: all 1000ms ease-out; }

.quote-list {
  width: 100%;
  opacity: 0;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 700ms ease-out;
          transition: all 700ms ease-out; }

.quote {
  background: transparent;
  color: white;
  display: block;
  font-size: 16px;
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  position: absolute;
  text-align: center; }

.open.quote-list {
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1); }

.github {
  height: 2em;
  width: 2em;
  border-radius: 15%;
  margin-right: -110px;
  margin-top: 50px; }

.heroku {
  width: 70px;
  margin-left: -10px;
  margin-top: 55px; }

img.circle {
  height: 200px;
  width: 200px;
  -webkit-animation: fade_in 2000ms ease-out 1;
          animation: fade_in 2000ms ease-out 1;
  background-color: transparent;
  border-radius: 50%; }

.selectedImg {
  z-index: 1; }

.selectedImg p {
  margin-left: -160px;
  width: 400px; }

.selectedImgAction {
  margin-top: 100px; }

.notSelectedImg {
  width: 200px;
  z-index: 0; }

.hovered-img-link {
  border: 5px solid red; }

.top-z {
  z-index: 3; }

@-webkit-keyframes fade_in {
  0% {
    opacity: 0; }
  20% {
    opacity: 0; } }

@keyframes fade_in {
  0% {
    opacity: 0; }
  20% {
    opacity: 0; } }

/*# sourceMappingURL=project-menu.css.map */